<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
    <p>{{ mem_stats }}</p>
    <p>{{ temp }}</p>
    <div id="output">default</div>
    <button type="button" id="btn">{% csrf_token %}Update</button>

<script type="text/javascript">
    $(document).ready(function(){
        $("#btn").click(function(){
            $.ajax({
                type: "GET",
                url: "/test/",
                dataType: "json",
                data:{ csrfmiddlewaretoken: '{{ csrf_token }}' },
                success: function(json) {
                    $("#output").html("<h2>Basic Progress Bar</h2>
                                      <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                          <span class="sr-only">70% Complete</span>
                                        </div>
                                      </div>"
                    });
                },
                error:function() {
                    alert("error!");
                }
            });
        });
    });
</script>
</body>
</html>