<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'monitor/css/style.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'monitor/js/myscript.js' %}"></script>
    <title>Hello</title>
</head>
<body>
    <p>{{ mem_stats }}</p>
    <p>{{ temp }}</p>
    <div id="output">
        <div class='container'>
            <h2>Memory usage</h2>
            <div class='progress'>
                <div id='memory' class='progress-bar' role='progressbar' aria-valuenow='70' aria-valuemin='0' aria-valuemax='100' style='width:53.7%'>
                    <span class='sr-only'>70% Complete</span>
                </div>
            </div>
        </div>
    </div>
    <button type="button" id="btn">{% csrf_token %}Update</button>

<script type="text/javascript">
    $(document).ready(function(){
        $("#btn").click(function(){
            $.ajax({
                type: "GET",
                url: "/test/",
                dataType: "json",
                data:{ csrfmiddlewaretoken: '{{ csrf_token }}' },
                success: function(json) {
                    var x = ((json.mem_used/json.mem_total) * 100);
                    console.log(x);
                    $("#memory").attr({
                        "style" : ("width:" + x + "%"),
                        "aria-valuemax" : (json.mem_total),
                        "aria-valuenow" : (json.mem_used)
                    )};
                }
                error:function() {
                    alert("error!");
                }
            });
        });
    });
</script>
</body>
</html>